<div class="inner-window">
    <div class="inner-head">
        Employee Form
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <!--Edit buttons starts here-->
    <div class="col-sm-12 bottom-header">
        <ul>
            <li><a href="#"><img src="/Content/MainLayout/images/icon-add-white.png" width="30" height="30"><span>Add</span></a></li>
            <li><a href="#"><img src="/Content/MainLayout/images/icon-edit-white.png" width="30" height="30"><span>Edit</span></a></li>
            <li><a href="#"><img src="/Content/MainLayout/images/icon-delete-white.png" width="30" height="30"><span>Delete</span></a></li>
            <li><a href="#"><img src="~/Content/MainLayout/images/icon-print-white.png" width="30" height="30"><span>Print</span></a></li>
            <li><a href="#"><img src="/Content/MainLayout/images/icon-exit-white.png" width="30" height="30"><span>Exit</span></a></li>
        </ul>
    </div>
    <!--Edit buttons ends here-->
    <div class="third-party-carriers">
        <!--Search starts here-->
        <div class="col-sm-12 search-container">
            <div class="col-sm-8 col-md-8 col-lg-8 no-padding">
                <div class="col-sm-12 col-md-4 col-lg-4 no-padding first-col">
                    <div class="form-group">
                        <input class="form-control" placeholder="Search By First Name">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 button-contr no-right-padding">
                    <button type="button" class="btn btn-primary" style="margin:9px 0px;">Search</button>
                </div>
            </div>
        </div>
        <!--Search ends here-->
        <!--Grid starts here-->
        <div class="col-sm-12 col-md-6 col-lg-6 grid-contr">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Hire Date</th>
                            <th>Report To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12 button-wrap">
                <div class="col-sm-2 col-md-3 no-padding record-info">0 Records</div>
            </div>
        </div>
        <!--Grid ends here-->
        <div class="col-sm-12 col-md-6 col-lg-6 no-left-padding">
            <div class="right-section">
                <div class="col-sm-10 col-md-12 col-lg-12 general-info no-padding">
                    <div class="col-sm-12 col-md-12 col-lg-12 no-right-padding no-left-padding first-col">
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <h2>Personal Information</h2>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label">First Name :</label>
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label">Last Name :</label>
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label">Date Of Birth (DOB) :</label>
                                <input id="DOB" class="form-control" placeholder="Select Date">
                            </div>
                            <script type="text/javascript">

                                $(document).ready(function () {
                                    $('#DOB').datepicker({
                                        format: "dd/mm/yyyy"
                                    });
                                });
                            </script>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label">Hire Date :</label>
                                <input id="hireDate" class="form-control" placeholder="Select Date">
                            </div>
                            <script type="text/javascript">

                                $(document).ready(function () {
                                    $('#hireDate').datepicker({
                                        format: "dd/mm/yyyy"
                                    });
                         
                                });
                            </script>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <h2>Address Information</h2>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label">City</label>
                                <input class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <h2>Other Information</h2>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label">Title :</label>
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
        
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label">Home Page :</label>
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label">Extension :</label>
                                <input class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label">Note :</label>
                                <input class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                        <div class="form-group">
                            <label class="control-label">Report To :</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                        <div class="form-group">
                            <label class="control-label">Photo Path :</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-10 address-info no-padding">
                        <div class="col-sm-10 col-md-12 col-lg-12 no-padding">
                            <div class="form-group">
                                <div class="col-sm-2 col-md-2 col-lg-2 button-contr no-right-padding">
                                    <button type="button" class="btn btn-primary" style="margin:9px 0px;">Add</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div><!--right-section Ends-->

        </div>
    </div><!--Employee Ends-->
</div>

