
@{
    ViewBag.Title = "_InnerChildView";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<!--Branch Popup contant starts here-->
<div id="Branch" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @RenderBody();
        </div>
    </div>
</div>
<!--Branch Popup content ends here-->


