<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>A L P H A - LMS Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <!--stylesheets-->
    @Styles.Render("~/Content/MainLayout")

    <!--javascripts-->

    <!--Google font integration-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>-->
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

</head>
<body>
   
    <div class="container-fluid">
        <div class="row">
            <div class="header">
                <!--Top Header starts here-->
                <nav class="top-header navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">S M S<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><span>Defination Forms</span><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/Branch" data-target="#Branch">Branch</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/City" data-target="#City">City</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/Class" data-target="#Class">Class</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/Company" data-target="#Company">Company</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/Exams" data-target="#Exams">Exams</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/Grade" data-target="#Grade">Grade</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/Module" data-target="#Module">Module</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/PreviousSchool" data-target="#PreviousSchool">Previous School</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/Registration" data-target="#Registration">Registration</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/Student" data-target="#Student">Student</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/Setup" data-target="#Setup">Setup</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/Section" data-target="#Section">Section</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/Session" data-target="#Session">Session</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/Subject" data-target="#Subject">Subject</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/ExamType" data-target="#ExamType">ExamType</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/SessionList" data-target="#SessionList">SessionList</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/EnrolledStudent" data-target="#EnrolledStudent">EnrolledStudent</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/SMS/ClassExam" data-target="#ClassExam">ClassExam</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventory<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><span>Defination Forms</span><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/Inventory/Category" data-target="#Category">Category</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/Inventory/Items" data-target="#Items">Items</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/Inventory/Role" data-target="#Role">Role</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/Inventory/Customer" data-target="#Customer">Customer</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/Inventory/Employee" data-target="#Employee">Employee</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/Inventory/Order" data-target="#Order">Order</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/Inventory/Product" data-target="#Product">Product</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="," data-target="#Supplier">Supplier</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/Inventory/PhoneDirectory" data-target="#PhoneDirectory">PhoneDirectory</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/Inventory/Purchase" data-target="#Purchase">Purchase</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="/Inventory/Sale" data-target="#Sale">Sale</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a href="#">Payment Reports/Statements<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Explanation of Benefits Report</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Setup<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="setup-licensee-information.html" data-target="#SetupLicensee">Setup &amp; Licensee Information</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="staff-users-system-security.html" data-target="#StaffSecurity">Staff/Users &amp; System Security</a></li>
                                        <li><a class="nav-menu member-list main_link" oncontextmenu="return false" href="staff-role-profiles-and-access-privileges.html" data-target="#StaffRoleProfile">Staff Role Profiles and Access Privileges</a></li>
                                        <li><span>SYSTEM SPECIFICATIONS</span><a class="nav-menu member-list main_link" oncontextmenu="return false" href="about-this-product.html" data-target="#AboutThisProduct">About this Product</a></li>
                                        <li><span>UTILITIES</span><a href="#">Re-Total Claim Services Detail to all Claims</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Windows</a></li>
                                <li><a href="#">Exit</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--Top Header ends here-->
            </div>
            @RenderBody()

            <!--S M S   Modals Start Here-->

            <!--Branch Popup contant starts here-->
            <div id="Branch" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                       
                    </div>
                </div>
            </div>
            <!--Branch Popup content ends here-->

            <!--City Popup contant starts here-->
            <div id="City" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--City Popup content ends here-->

            <!--Class Popup contant starts here-->
            <div id="Class" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Class Popup content ends here-->

            <!--ClassExam Popup contant starts here-->
            <div id="ClassExam" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--ClassExam Popup content ends here-->

            <!--Company Popup contant starts here-->
            <div id="Company" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Company Popup content ends here-->

            <!--Exams Popup contant starts here-->
            <div id="Exams" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Exams Popup content ends here-->

            <!--ExamType Popup contant starts here-->
            <div id="ExamType" class="modal fade">
                <div class="modal-dialog" style="margin-top:5px;">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--ExamType Popup content ends here-->

            <!--EnrolledStudent Popup contant starts here-->
            <div id="EnrolledStudent" class="modal fade">
                <div class="modal-dialog" style="margin-top:5px;">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--EnrolledStudent Popup content ends here-->

            <!--Grade Popup contant starts here-->
            <div id="Grade" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Grade Popup content ends here-->

            <!--Module Popup contant starts here-->
            <div id="Module" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Module Popup content ends here-->

            <!--Previous School Popup contant starts here-->
            <div id="PreviousSchool" class="modal fade">
                <div class="modal-dialog" style="margin-top:5px;">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Previous School Popup content ends here-->

            <!--Registration Popup contant starts here-->
            <div id="Registration" class="modal fade">
                <div class="modal-dialog" style="margin-top:5px;">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Registration Popup content ends here-->

            <!--Setup Popup contant starts here-->
            <div id="Setup" class="modal fade">
                <div class="modal-dialog" style="margin-top:5px;">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Setup Popup content ends here-->
            
            <!--Section Popup contant starts here-->
            <div id="Section" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Section Popup content ends here-->

            <!--Session Popup contant starts here-->
            <div id="Session" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Session Popup content ends here-->

            <!--Subject Popup contant starts here-->
            <div id="Subject" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        pakistan zinda abd 
                    </div>
                </div>
            </div>
            <!--Subject Popup content ends here-->

            <!--Phone Directory Popup contant starts here-->
            <div id="PhoneDirectory" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Phone Directory Popup content ends here-->

            <!--Role Popup contant starts here-->
            <div id="Role" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Role Popup content ends here-->

            <!--Role Item Popup contant starts here-->
            <div id="RoleItem" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Role Item Popup content ends here-->

            <!--SessionList Popup contant starts here-->
            <div id="SessionList" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--SessionList Popup content ends here-->

            <!--Student Popup contant starts here-->
            <div id="Student" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Student Popup content ends here-->

            <!--Student Enrollment Popup contant starts here-->
            <div id="StudentEnrollment" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Student Enrollment Popup content ends here-->

            <!--User Popup contant starts here-->
            <div id="User" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--User Popup content ends here-->

            <!--User Role Popup contant starts here-->
            <div id="UserRole" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--User Role Popup content ends here-->

            <!--S M S   Modals End Here-->

            <!--Inventory Modals Start Here-->

            <!--Category Popup contant starts here-->
            <div id="Category" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Category content ends here-->

            <!--Customer Popup contant starts here-->
            <div id="Customer" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Customer Popup content ends here-->

            <!--Employee Popup contant starts here-->
            <div id="Employee" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Employee content ends here-->

            <!--Items Popup contant starts here-->
            <div id="Items" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Items content ends here-->

            <!--Order Popup contant starts here-->
            <div id="Order" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Order Popup content ends here-->

            <!--Product Popup contant starts here-->
            <div id="Product" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Product content ends here-->

            <!--Purchase Popup contant starts here-->
            <div id="Purchase" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Purchase content ends here-->

            <!--Sale Popup contant starts here-->
            <div id="Sale" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Sale content ends here-->

            <!--Supplier Popup contant starts here-->
            <div id="Supplier" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Supplier content ends here-->

            <!--Order Details Popup contant starts here-->
            <div id="OrderDetails" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <!--Oder Details Popup content ends here-->
            <!--Inventory Modals End Here-->



        </div>
    </div>
    

 
    @Scripts.Render("~/Bundles/MainLayout")

    <script>
        $(document).ready(function () {

            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }

          

            function getContent(url) {
                var Content;
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'html',
                    success: function (data) {

                       // debugger;
                        var child = document.getElementById(getParameterByName("p"));
                        //debugger;
                        child.children[0].children[0].innerHTML = data;
                    }
                });
            }
            var id = getParameterByName("p");
            var value = getParameterByName("v");
            id = "#" + id;

            //SMS  Methods  


            if (getParameterByName("p") == "Branch") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/Branch");// Getting normal view
                } else {
                    getContent("/Sms/Branch/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "City") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/City");// Getting normal view
                } else {
                    getContent("/Sms/City/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Class") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/Class");// Getting normal view
                } else {
                    getContent("/Sms/Class/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Company") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/Company");// Getting normal view
                } else {
                    getContent("/Sms/Company/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Exams") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/Exams");// Getting normal view
                } else {
                    getContent("/Sms/Exams/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Grade") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/Grade");// Getting normal view
                } else {
                    getContent("/Sms/Grade/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Module") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/Module");// Getting normal view
                } else {
                    getContent("/Sms/Module/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "PreviousSchool") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/PreviousSchool");// Getting normal view
                } else {
                    getContent("/Sms/PreviousSchool/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Registration") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/Registration");// Getting normal view
                } else {
                    getContent("/Sms/Registration/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Student") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/Student");// Getting normal view
                } else {
                    getContent("/Sms/Student/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Setup") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/Setup");// Getting normal view
                } else {
                    getContent("/Sms/Setup/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Section") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/Section");// Getting normal view
                } else {
                    getContent("/Sms/Section/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Session") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/Session");// Getting normal view
                } else {
                    getContent("/Sms/Session/" + value); // getting view in edit mode
                }
            }
            
            if (getParameterByName("p") == "Subject") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Sms/Subject");// Getting normal view
                } else {
                    getContent("/Sms/Subject/" + value); // getting view in edit mode
                }
            }

            //Inventory Methods

            if (getParameterByName("p") == "Category") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Inventory/Category");// Getting normal view
                } else {
                    getContent("/Inventory/Category/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Customer") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Inventory/Customer");// Getting normal view
                } else {
                    getContent("/Inventory/Customer/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Employee") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Inventory/Employee");// Getting normal view
                } else {
                    getContent("/Inventory/Employee/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Order") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Inventory/Order");// Getting normal view
                } else {
                    getContent("/Inventory/Order/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Product") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Inventory/Product");// Getting normal view
                } else {
                    getContent("/Inventory/Product/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Role") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Inventory/Role");// Getting normal view
                } else {
                    getContent("/Inventory/Role/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Supplier") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Inventory/Supplier");// Getting normal view
                } else {
                    getContent("/Inventory/Supplier/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "PhoneDirectory") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Inventory/PhoneDirectory");// Getting normal view
                } else {
                    getContent("/Inventory/PhoneDirectory/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Purchase") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Inventory/Purchase");// Getting normal view
                } else {
                    getContent("/Inventory/Purchase/" + value); // getting view in edit mode
                }
            }

            if (getParameterByName("p") == "Sale") {
                $(id).modal('show');
                if (!value) {
                    getContent("/Inventory/Sale");// Getting normal view
                } else {
                    getContent("/Inventory/Sale/" + value); // getting view in edit mode
                }
            }
            
        });

    </script>

</body>
</html>