@{
    ViewBag.Title = "Branch";
    Layout = "~/Views/Shared/_MainLayoutWithOutHeader.cshtml";
}


<div class="inner-window">
    <div class="inner-head">
        Branch Form
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="third-party-carriers">
        <!--Search starts here-->
        <div class="col-sm-12 search-container">
            <div class="col-sm-8 col-md-8 col-lg-8 no-padding no-margin">
                <div class="col-sm-12 col-md-8 col-lg-8 no-padding first-col">
                    <div class="form-group">
                        <input class="searchTextBox" placeholder="Search by Branch or City">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 button-contr no-right-padding">
                    <button type="button" class="btn-primary searchButton">Search</button>
                </div>
            </div>

        </div>
        <!--Search ends here-->
        <!--Grid starts here-->
        <div class="col-sm-12 col-md-6 col-lg-6 grid-contr">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Branch</th>
                            <th>City </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><a href="#"><img src="/Content/MainLayout/images/edit.png" width="16" height="16"></a></td>
                            <td><a href="#"><img src="/Content/MainLayout/images/delete1.png" width="16" height="16"></a></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><a href="#"><img src="/Content/MainLayout/images/edit.png" width="16" height="16"></a></td>
                            <td><a href="#"><img src="/Content/MainLayout/images/delete1.png" width="16" height="16"></a></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><a href="#"><img src="/Content/MainLayout/images/edit.png" width="16" height="16"></a></td>
                            <td><a href="#"><img src="/Content/MainLayout/images/delete1.png" width="16" height="16"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12 button-wrap">
                <div class="col-sm-2 col-md-3 no-padding record-info">0 Records</div>
            </div>
        </div>
        <!--Grid ends here-->
        <div class="col-sm-12 col-md-6 col-lg-6 no-left-padding">
            <div class="right-section">
                <div class="col-sm-12 col-md-12 col-lg-10 address-info no-padding">
                    <h2>Branch Information</h2>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        <div class="form-group">
                            <label class="control-label">Branch Name :</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        <div class="form-group">
                            <label class="control-label">City Name :</label>
                            <select class="selectpicker col-lg-6">
                                <option>Lahore</option>
                                <option>Multan</option>
                            </select>
                        </div>
                    </div>
                    <!--Usama Ikram Form Change 9-22-2016-->
                    <div class="col-sm-12 col-md-12 col-lg-12 no-padding no-right-padding address-cntr no-left-padding">
                        <div class="form-group">
                            <label class="control-label">Branch Adress :</label>
                            <input class="form-control" style="height: 100px;" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        <div class="form-group">
                            <label class="control-label">Branch Logo :</label>
                            <input type="file" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        <div class="form-group">
                            <label class="control-label">Contact Person :</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        <div class="form-group">
                            <label class="control-label">Contact Number :</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        <div class="form-group">
                            <label class="control-label">Email :</label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        <div class="form-group">
                            <label class="control-label">Website :</label>
                            <input class="form-control" placeholder="">
                        </div>
                        <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                            <div class="col-sm-12 bottom-header branch-header">
                                    <button type="submit" class="btn-primary Branch-Menu-Items"><span class="glyphicon glyphicon-file"></span> Save</button>
                                <button class="btn-primary Branch-Menu-Items"><span class="glyphicon glyphicon-print"></span> View</button>
                                <button class="btn-primary Branch-Menu-Items"><span class="glyphicon glyphicon-log-out"></span> Exit</button>
                            </div>
                        </div>
                        @*<div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                            <button class="btn-primary"><span class="glyphicon glyphicon-file"></span> Add</button>
                            <button class="btn-primary"><span class="glyphicon glyphicon-print"></span> Print</button>
                            <button class="btn-primary"><span class="glyphicon glyphicon-off"></span> Exit</button>
                        </div>*@
                    </div>
                </div>
                <div class="clearfix"></div>
            </div><!--right-section Ends-->
        </div>
    </div><!--Branch Ends-->
</div>
