<div class="inner-window">
    <div class="inner-head">
        Class Exam Form
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="third-party-carriers">
        <div class="col-sm-12 search-container">
            <div class="col-sm-8 col-md-8 col-lg-8 no-padding no-margin">
                <div class="col-sm-12 col-md-8 col-lg-8 no-padding first-col">
                    <div class="form-group">
                        <input class="searchTextBox" placeholder="Search By Class or Exam">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 button-contr no-right-padding">
                    <button type="button" class="btn-primary searchButton">Search</button>
                </div>
            </div>

        </div>
        <!--Grid starts here-->
        <br />
        <br />
        <div class="col-sm-12 col-md-6 col-lg-6 grid-contr">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Exam</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-12 button-wrap">
                <div class="col-sm-2 col-md-3 no-padding record-info">0 Records</div>
            </div>
        </div>
        <!--Grid ends here-->
        <div class="col-sm-12 col-md-6 col-lg-6 no-left-padding">
            <div class="right-section">
                <div class="col-sm-12 col-md-12 col-lg-10 address-info no-padding">
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        <div class="form-group">
                            <h2>Exam Information</h2>
                        </div>
                    </div>

                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr">
                        <div class="form-group">
                            <label class="control-label">Exam Name :</label>
                            <input type="text" class="form-control" placeholder="Exam Name" />
                        </div>
                    </div>

                   
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        <div class="form-group">
                            <h2>Other Information</h2>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr">
                        <div class="form-group">
                            <label class="control-label">Choose Class :</label>
                            <select class="selectpicker">
                                <option> - - Class - - </option>
                                <option>Class 1</option>
                                <option>Class 2</option>
                                <option>Class 3</option>
                                <option>Class 4</option>
                                <option>Class 5</option>
                                <option>Class 6</option>
                                <option>Class 7</option>
                                <option>Class 8</option>
                                <option>Class 9</option>
                                <option>Class 10</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr">
                        <div class="form-group">
                            <label class="control-label">Choose Section :</label>
                            <select class="selectpicker">
                                <option> - - Section - - </option>
                                <option>Section 1</option>
                                <option>Section 2</option>
                                <option>Section 3</option>
                                <option>Section 4</option>
                                <option>Section 5</option>
                                <option>Section 6</option>
                                <option>Section 7</option>
                                <option>Section 8</option>
                                <option>Section 9</option>
                                <option>Section 10</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr">
                        <div class="form-group">
                            <label class="control-label">Choose Subject :</label>
                            <select class="selectpicker">
                                <option> - - Subject - - </option>
                                <option>Subject 1</option>
                                <option>Subject 2</option>
                                <option>Subject 3</option>
                                <option>Subject 4</option>
                                <option>Subject 5</option>
                                <option>Subject 6</option>
                                <option>Subject 7</option>
                                <option>Subject 8</option>
                                <option>Subject 9</option>
                                <option>Subject 10</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr">
                        <div class="form-group">
                            <label class="control-label">Choose Exam Type :</label>
                            <select class="selectpicker">

                                <option> - - Exam Type - - </option>
                                <option>Exam Type 1</option>
                                <option>Exam Type 2</option>
                                <option>Exam Type 3</option>
                                <option>Exam Type 4</option>
                                <option>Exam Type 5</option>
                                <option>Exam Type 6</option>
                                <option>Exam Type 7</option>
                                <option>Exam Type 8</option>
                                <option>Exam Type 9</option>
                                <option>Exam Type 10</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 no-left-padding">
                    <div class="col-sm-12 bottom-header city-header">
                        <ul>
                            <li id="Add_ClassExamTab"><a href="#"><img src="/Content/MainLayout/images/icon-add-white.png" width="30" height="30"><span>Add</span></a></li>
                            <li><a href="#"><img src="~/Content/MainLayout/images/icon-print-white.png" width="30" height="30"><span>Print</span></a></li>
                            <li><a href="#"><img src="/Content/MainLayout/images/icon-exit-white.png" width="30" height="30"><span>Exit</span></a></li>
                        </ul>
                    </div>
                </div>
                    <div class="clearfix"></div>
                </div><!--right-section Ends-->
        </div>
    </div><!--ClassExam List Ends-->
</div>





