@using (Html.BeginForm("Company", "SMS", FormMethod.Post))
{

    <div class="inner-window">
        <div class="inner-head">
            Insurance carrier (COB) Listing
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <!--Edit buttons starts here-->
        <div class="col-sm-12 bottom-header">
            <ul>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-edit-white.png" width="30" height="30"><span>Edit</span></a></li>
                <li id="Add_Company"><a href="#"><img src="/Content/MainLayout/images/icon-add-white.png" width="30" height="30"><span>Add</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-copy-white.png" width="30" height="30"><span>Copy</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-validate-white.png" width="30" height="30"><span>Validate</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-delete-white.png" width="30" height="30"><span>Delete</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-filter-white.png" width="30" height="30"><span>Filter</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-print-white.png" width="30" height="30"><span>Print</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-commun-white.png" width="30" height="30"><span>Commun.</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-exit-white.png" width="30" height="30"><span>Exit</span></a></li>
            </ul>
        </div>
        <!--Edit buttons ends here-->
        <div class="third-party-carriers">

            <!--Grid starts here-->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2>Company Information</h2>
                <div class="col-sm-10 col-md-12 col-lg-12 general-info no-padding">
                    <div class="col-sm-12 col-md-12 col-lg-12 no-right-padding no-left-padding first-col">

                        <div class="col-sm-12 col-md-12 col-lg-10">
                            <div class="form-group ">
                                <img src="http://ichef.bbci.co.uk/news/660/cpsprodpb/A2E4/production/_89400714_gettyimages-522829204.jpg" class="img-rounded img-responsive " alt="Image Not Found" style="width: 150px;height: 150px;" align="right">
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label"><b>Company Name : </b></label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label"><b>Tag Line : </b></label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label"><b>Founder Name : </b></label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label"><b>Founded On : </b></label>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label"><b>Short Description : </b></label>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label"><b>Detail Description : </b></label>

                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">
                                <label class="control-label"><b>Phone Number : </b></label>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!--Grid ends here-->
            <div class="col-sm-12 col-md-6 col-lg-6 no-left-padding">
                <div class="right-section">
                    <div class="col-sm-10 col-md-12 col-lg-12 general-info no-padding">
                        <div class="col-sm-12 col-md-12 col-lg-12 no-right-padding no-left-padding first-col">
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Company Name</label>
                                    <input class="form-control" name="CompanyName" placeholder="Company Name...">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Tag Line</label>
                                    <input class="form-control" name="TagLine" placeholder="Tag Line...">
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Short Description</label>
                                    <input class="form-control" name="ShortDescription" style="height: 100px;" placeholder="Short Description...">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Detail Description</label>
                                    <input class="form-control" name="DetailDescription" style="height: 200px;" placeholder="Detail Description...">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Founder Name</label>
                                    <input class="form-control" name="FounderName" placeholder="Founder Name...">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Founded On</label>
                                    <input class="form-control" name="FoundedOn" placeholder="dd/MM/yyyy">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Phone Number</label>
                                    <input class="form-control" name="PhoneNumber" placeholder="Phone Number...">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Logo</label>
                                    <input id="fileupload" type="file" name="Logo" value="Upload Logo">
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="clearfix"></div>

                </div><!--right-section Ends-->

            </div>
        </div><!--third-party-carriers Ends-->
    </div>

}

<script>
    $("#Add_Company").click(function () {
        $("form").submit();
    });
</script>