<div class="inner-window">
    <div class="inner-head">
        Enrolled Student Form List Form
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <!--Edit buttons starts here-->
    <div class="col-sm-12 bottom-header">
        <ul>
            <li><a href="#"><img src="/Content/MainLayout/images/icon-add-white.png" width="30" height="30"><span>Add</span></a></li>
            <li><a href="#"><img src="/Content/MainLayout/images/icon-edit-white.png" width="30" height="30"><span>Edit</span></a></li>
            <li><a href="#"><img src="/Content/MainLayout/images/icon-delete-white.png" width="30" height="30"><span>Delete</span></a></li>
            <li><a href="#"><img src="~/Content/MainLayout/images/icon-print-white.png" width="30" height="30"><span>Print</span></a></li>
            <li><a href="#"><img src="/Content/MainLayout/images/icon-exit-white.png" width="30" height="30"><span>Exit</span></a></li>
        </ul>
    </div>
    <!--Edit buttons ends here-->
    <div class="third-party-carriers">
        <!--Grid starts here-->
        <div class="col-sm-12 search-container">
            <div class="col-sm-12 col-md-3 col-lg-3 no-padding">
                <div class="form-group">
                    <select class="selectpicker esDropDown">
                        <option> - - Select Session - - </option>
                        <option>Session 1</option>
                        <option>Session 2</option>
                        <option>Session 3</option>
                        <option>Session 4</option>
                        <option>Session 5</option>
                        <option>Session 6</option>
                        <option>Session 7</option>
                        <option>Session 8</option>
                        <option>Session 9</option>
                        <option>Session 10</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 no-padding">
                <div class="form-group">
                    <select class="selectpicker esDropDown">
                        <option> - - Select Class - - </option>
                        <option>Class 1</option>
                        <option>Class 2</option>
                        <option>Class 3</option>
                        <option>Class 4</option>
                        <option>Class 5</option>
                        <option>Class 6</option>
                        <option>Class 7</option>
                        <option>Class 8</option>
                        <option>Class 9</option>
                        <option>Class 10</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 no-padding">
                <div class="form-group">
                    <select class="selectpicker esDropDown">
                        <option> - - Select Section - - </option>
                        <option>Section 1</option>
                        <option>Section 2</option>
                        <option>Section 3</option>
                        <option>Section 4</option>
                        <option>Section 5</option>
                        <option>Section 6</option>
                        <option>Section 7</option>
                        <option>Section 8</option>
                        <option>Section 9</option>
                        <option>Section 10</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 no-padding">
                <div class="form-group">
                    <button type="button" class="btn btn-secondary esButton">Enroll</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 grid-contr">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Unenrolled Student</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>&nbsp;</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-12 button-wrap">
                <div class="col-sm-2 col-md-3 no-padding record-info">0 Records</div>
            </div>
        </div>
        <!--Grid ends here-->
        <div class="col-sm-12 col-md-6 col-lg-6 no-left-padding">
            <div class="right-section">
                <div class="col-sm-12 col-md-12 col-lg-10 address-info no-padding">
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        <div class="form-group">
                            <h2>Student Enrollment Information</h2>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8 grid-contr">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Enrolled Student</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>&nbsp;</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div><!--right-section Ends-->
        </div>
    </div><!--Enrolled Student Ends-->
</div>





